<div class="container-fluid">
  <div class="col-md-6">
    <h1>Cadastrar Novo Produto</h1>

    <%= render 'form', advert: @advert %>

    <%= link_to 'Cancelar', adverts_path, :class => "btn btn-primary active" %>

  </div>
</div>
