<div class="col-md-4">
  <h1>Editar Categoria</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Exibir Categoria', @category, :class => "btn btn-primary active" %>
  <%= link_to 'Cancelar Edição', categories_path, :class => "btn btn-primary active" %>
</div>
